---
title: Start
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include menu.html %}
<div>
  <section class="united-container">
    <div class="united-br"></div>
    <div class="united-br"></div>
    <h1>{{ site.title }} {{ site.version }}</h1>
    <div class="united-hr"></div>

    <p>United Styles is a minimalistic css (and soon js) framework for web and mobile apps.</p>

    <p>
      <a class="united-button icon-left grey-dark2 " href="https://github.com/franzwilding/united-styles"><i class="icon ion-social-github"></i> Github</a>
    </p>

  </section>
</div>
{% include footer.html %}
</body>
</html>
