
.united-tabbar {
  @extend %box;
  @extend %fixable;
  border-bottom-width: 2px;

  &.bottom {
    border-top-width: 2px;
    border-bottom-width: 0;
  }

  ol, ul {
    @include display(flex);
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      @include flex(1);

      > * {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: $font-size-small;
        color: $color-grey-dark;
        line-height: 100%;
        padding-bottom: 2px;

        .icon {
          display: block;
          font-size: $font-size * 2;
          margin-bottom: 2px;
          margin-top: 4px;
        }

        &:hover {
          color: $color-grey-dark2;
        }
      }

      &.active {
        > * {
          color: $color-grey-dark2;
          font-weight: bold;
          .icon {
            color: $color-main;
          }
        }
      }
    }
  }
}

.united-tabbar-space {
  display: block;
  clear: both;
  height: 50px;
}
