
#{$u-prefix}.tabbar {
  @extend %box;
  @extend %fixable;
  &.bottom {
    border-top-width: 2px;
    border-bottom-width: 0;
  }

  ol, ul {
    @include display(flex);
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      @include flex(1);

      > * {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: $font-size-small;
        line-height: 100%;
        padding-bottom: 2px;
        @include colors(true);

        .icon {
          display: block;
          margin: 4px auto;
        }
      }
    }
  }
}

#{$u-prefix}.tabbar-space {
  display: block;
  clear: both;
  height: 50px;
}
