
.united-hr {
  height: 2px;
  width: auto;
  display: block;
  background: $color-grey-light;
  margin: 14px 0;

  @include media($query-semi-medium) {
    margin-top: 29px;
    margin-bottom: 29px;
  }
}

.united-br {
  height: 15px;
  width: auto;
  display: block;

  @include media($query-semi-medium) {
    height: 30px;
  }
}