<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/rainbow.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/html.js"></script>
<script type="text/javascript">
  var toggleSidebar = function(){
    var s = document.getElementsByClassName('sidebar')[0];
    var st = document.getElementsByClassName('sidebar-toggler')[0];
    s.classList.toggle('open');
    s.classList.toggle('closed');
    st.classList.toggle('close');
    return false;
  };
</script>
