<aside class="united-sidebar fixed left">
  <nav>
    <div class="united-buttons centered">
      <a class="united-button main icon-left small" href="{{ site.baseurl }}/"><i class="icon ion-ios-home"></i> {{ site.title}} {{ site.version }}</a>
      <a class="united-button grey-dark2 auto-width small" href="https://github.com/franzwilding/united-styles"><i class="icon ion-social-github"></i></a>
    </div>
    <div class="united-hr"></div>
    <h5>Elements</h5>
    <ol>
      {% for p in site.pages %}
        {% assign pagedir = p.url|split: '/' %}
        {% if pagedir[1] == 'elements' %}
          <li{% if p.url == page.url %} class="active"{% endif %}><a href="{{ site.baseurl }}{{ p.url }}"><i class="icon ion-android-star-outline"></i> {{ p.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ol>

    <h5>Global Modules</h5>
    <ol>
      {% for p in site.pages %}
        {% assign pagedir = p.url|split: '/' %}
        {% if pagedir[1] == 'global' %}
          <li{% if p.url == page.url %} class="active"{% endif %}><a href="{{ site.baseurl }}{{ p.url }}"><i class="icon ion-grid"></i> {{ p.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
</aside>
