/**
 * Tricolore theme
 *
 * @author Jean Nicolas
 * @version 1.0.1
 */
pre {
    @extend %box;
    word-wrap: break-word;
    font-size: $font-size-small;
    margin-top: 0;
    padding: 0 10px;
}

pre, code {
    font-family: 'Monaco', 'Consolas', monospace;
}

pre .comment {
    color: map-get($colors, 'grey');
    font-style: italic;
}

pre .constant {
    color: map-get($colors, 'grey-dark2');
  font-weight: bold;
}

pre .storage {
    color: #0000A1;
}

pre .string {
    color: darken(map-get($colors, 'red'), 20%);
}

pre .keyword, pre .selector {
    color: #0000A1;
  font-weight: bold;
}

pre .inherited-class {
    font-style: italic;
}

pre .entity {
    color: #3E853F;
}

pre .support {
    color: #192140;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #3E853F;
}
