
table {
  width: 100%;
  border-collapse: inherit;
  margin: $font-size 0;

  tfoot {
    background: rgba(0,0,0,0.04);
    tr {
      &:last-child {
        td, th {
          border-bottom: 1px solid rgba(0,0,0,0.1);
        }
      }
    }
  }

  &.bordered {
    tfoot {
      tr {
        td, th {
          &:first-child {
              border-left: 1px solid rgba(0,0,0,0.1);
          }
          &:last-child {
              border-right: 1px solid rgba(0,0,0,0.1);
          }
        }
      }
    }
  }

  tbody {
    font-size: $font-size-small;
    tr {
      &:hover {
        background: map-get($colors, $color-active);
        color: map-get($colors, 'white');

        a {
          color: map-get($colors, 'white');
        }

        #{$u-prefix}.button:not(.full):not(:hover) {
          border-color: map-get($colors, 'white');
          color: map-get($colors, 'white');
        }
      }

      &:nth-child(2n):not(:hover) {
        background: rgba(0,0,0,0.02);
      }

      td, th {
        border-bottom: 1px solid rgba(0,0,0,0.1);
        vertical-align: middle;
        height: $size;
      }
      &:first-child {
        td, th {
          border-top: 1px solid rgba(0,0,0,0.1);
        }
      }
    }
  }

  th, td {
    padding: 3px 10px;
    text-align: left;
    @include colors(false, true, true, true);

    &.no-wrap {
      white-space: nowrap;
    }
  }

  th {
    @extend %font-alt;
    padding: 5px 10px;
    color: map-get($colors, $color-main);
  }

  &.bordered {
    tbody {
      tr {
        td {
          border-right: 1px solid rgba(0,0,0,0.1);
          &:first-child {
            border-left: 1px solid rgba(0,0,0,0.1);
          }
        }
      }
    }
  }
}
