
html {
  font-size: $font-size-base;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-grey-dark;
  padding: 0;
}

p {
  margin-top: 0;
}

a {
  color: $color-grey-dark;
  text-decoration: underline;
}

h4 {
  @extend %font-alt;
  font-size: $font-size;
  margin: 10px 0 0 0;
}

h5 {
  @extend %font-alt;
  font-size: $font-size-small;
  margin: 10px 0 0 0;
}

ul, ol {
  margin-top: 0;
}