
@mixin colors($text: false, $border: false, $background: false, $white-text: false, $prefix:'.', $postfix:'') {
  @each $name, $color in $colors {
    &#{$prefix}#{$name}#{$postfix} {
      @if($text) { color: $color; }
      @if($border) { border-color: $color; }
      @if($background) {
        background-color: $color;
        @if($white-text) {
          color: map-get($colors, 'white');
        }
      }
    }
  }
  @each $name, $gradient in map-get($gradients, 'linear') {
    &#{$prefix}#{$name}-gradient#{$postfix} {
      @if($background) {
        @include linear-gradient($gradient...);
        @if($white-text) {
          color: map-get($colors, 'white');
        }
      }
    }
  }
  @each $name, $gradient in map-get($gradients, 'radial') {
    &#{$prefix}#{$name}-gradient#{$postfix} {
      @if($background) {
        @include radial-gradient($gradient...);
        @if($white-text) {
          color: map-get($colors, 'white');
        }
      }
    }
  }
}
