
%fixable {
  &.fixed {
    @include position(fixed, 0 0 auto 0);
    z-index: 100;

    &.top {
      @include position(null, 0 0 auto 0);
      &.left { bottom: auto; }
      &.right { bottom: auto; }
    }

    &.bottom {
      @include position(null, auto 0 0 0);
      &.left { top: auto; }
      &.right { top: auto; }
    }

    &.right {
      @include position(null, 0 0 0 auto);
    }

    &.left {
      @include position(null, 0 auto 0 0);
    }
  }
}
