
#{$u-prefix}.button {
  @extend %button;
}

#{$u-prefix}.buttons {
  > * {
    margin: 5px;

    &.small, &.mini {
      margin: 2px;
      border-width: 1px;
    }
  }

  &.no-padding {
    > * {
      &:first-child, &:first-child.small, &:first-child.mini { margin-left: 0; }
      &:last-child, &:last-child.small, &:last-child.mini { margin-right: 0; }
    }
  }

  &.no-wrap {
    white-space: nowrap;
  }
}
