
.united-label {
  @extend %font-alt;
}

.united-field {
  position: relative;
  margin: 20px 0;

  label, .united-label {
    display: block;
  }

  &.inline {
    @include display(flex);

    label, .united-label {
      display: inline-block;
      line-height: $line-height-big * 1.5;
      padding-right: 10px;
      vertical-align: middle;
      min-width: 100px;
    }

    > input, > .united-input, > .united-input-group {
      @include flex(1);
    }
  }

  .united-input-group {

    margin: 5px 0;

    .united-input {
      label, label.basic, .united-label, .united-label.basic, input {
        line-height: $line-height-big;
      }

      input[type="radio"], input[type="checkbox"] {
        height: 14px;
        font-size: $font-size;
        margin: 6px 0;
      }
    }
  }

  & + .united-message {
    margin-top: -15px;
  }

  .united-input {
    @include display(flex);

    label, .united-label {
      padding: 0 10px;
      display: inline-block;
      line-height: $line-height-big * 1.4;
      min-width: 0;
      background: $color-grey-light2;
      border: 1px solid $color-grey-light;

      & + input {
        border-left: 0;
      }

      &.basic {
        background: none;
        border: none;
        line-height: $line-height-big * 1.5;
        padding-left: 0;
      }
    }

    input {
      & + label, .united-label {
        border-left: 0;
      }
    }

    > input {
      @include flex(1);
    }
  }
}