
#{$u-prefix}.label {
  @extend %font-alt;
  @include colors(true, false, false);
}

#{$u-prefix}.field {
  position: relative;
  margin: 20px 0;

  > #{$u-prefix}.field {
    margin: 0;
  }

  label, #{$u-prefix}.label {
    display: block;
  }

  &.inline {
    @include display(flex);
    @include align-items(flex-start);

    label, #{$u-prefix}.label {
      display: inline-block;
      line-height: $line-height-big;
      padding: 4px 10px;
      vertical-align: middle;
      min-width: 100px;
      &.auto-width {
        min-width: 0;
      }
    }

    &.labeled, &.overlayed {
      > label, > #{$u-prefix}.label {
        min-width: 0;
        background: rgba(0,0,0,0.04);
        border: 1px solid map-get($colors, 'grey-light');
        border-right-width: 0;
        padding-top: 3px;
        padding-bottom: 3px;
      }

      > input + label, > input + #{$u-prefix}.label {
        border-left-width: 0;
        border-right-width: 1px;
      }
    }

    &.overlayed {
      > label, > #{$u-prefix}.label {
        background: none;
        border: none;
      }
    }

    &.overlayed {
      > label, > #{$u-prefix}.label, > button, > input[type="submit"], > input[type="button"], > input[type="reset"], #{$u-prefix}.button {
        position: absolute;
        left: auto;
        right: 0;
        top: 0;
        bottom: 0;
        min-width: $size;
        padding: 0 3px;
        text-align: center;
        @include display(flex);
        @include align-items(center);

        > * {
          font-size: $font-size;
          @include flex(1);
        }
      }

      > input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="checkbox"]):not([type="radio"]) {
          padding-right: $size;
      }
    }

    > input, > #{$u-prefix}.input, > #{$u-prefix}.input-group {
      @include flex(1);
    }
  }

  &.radio, &.checkbox {
    overflow: hidde;
    input {
      position: absolute;
      visibility: hidden;
      left: 0;
      top: 0;
      width: 1px;
      height: 1px;
      margin: 0;
      min-width: 0;
      padding: 0;

      &[type="radio"] + label:before {
        border-radius: 20px;
        background: map-get($colors, 'white');
        box-shadow: inset 0 0 0 0 map-get($colors, $color-main);
      }

      &[type="radio"]:checked + label:before {
        box-shadow: inset 0 0 0 4px map-get($colors, $color-main);
        border-color: map-get($colors, $color-main);
      }

      &[type="checkbox"]:checked + label:before {
        box-shadow: inset 0 0 0 3px map-get($colors, 'white');
      }
    }
    label {
      padding-left: 25px;

      &:before {
        content: "";
        width: 16px;
        height: 16px;
        top: 50%;
        left: 0;
        margin-top: -8px;
        position: absolute;
        @include transition(all 0.05s ease-out);
        box-shadow: inset 0 0 0 10px map-get($colors, 'white');
        border: 1px solid map-get($colors, 'grey-light');
        background: map-get($colors, $color-main);
      }
    }
  }

  &.rounded {
    > input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="checkbox"]):not([type="radio"]) {
      border-radius: $size/2;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  & + #{$u-prefix}.message, & + #{$u-prefix}.message.small {
    margin-top: -15px;
  }

  > .group {
    > #{$u-prefix}.field {
      &:first-child { margin-top: 0; }
      &:last-child { margin-bottom: 0; }

      &.radio, &.checkbox {
        margin: 0;
      }
    }
  }
}
