
.united-container {
  padding: 0 20px;
  display: block;
  position: relative;
  max-width: $container-max-width + 40;
  margin: 0 auto;

  &.responsive-padding {
    padding: 0;

    @include media($query-medium) {
      padding: 20px;
    }
  }
}

.united-row {
  @include row();

  @for $i from 1 through 12 {
    .width-#{$i} {
      @include span-columns(12);
      @include media($query-semi-medium) {
        @include span-columns($i);
      }
    }
  }

  .omega {
    @include omega();
  }
}
