
#{$u-prefix}.list-module {

  .filter {
    position: relative;
    min-height: 28px;
    padding: 0 20px 20px;

    .filter-toggle {
      position: absolute;
      top: 0;
      right: 0;
    }

    .content {
      height: 0;
      overflow: hidden;
    }

    &.open {
      @extend %box;
      margin-bottom: 10px;

      .filter-toggle {
        top: 10px;
        right: 10px;
      }

      .content {
        height: auto;
      }

      form fieldset {
        margin: 0;
      }
    }
  }

  .list {
    border-top: 2px solid map-get($colors, 'grey-light');
    border-bottom: 2px solid map-get($colors, 'grey-light');

    .item {
      padding: 10px 15px;
      border-bottom: 1px solid map-get($colors, 'grey-light');

      @include media($query-medium) {
        padding-right: 0;
        padding-left: 0;
      }

      &:last-child {
        border-bottom: none;
      }

      > h1, h2, h3, h4, h5, h6, p, #{$u-prefix}.buttons {
        margin: 0 0 0 10px;

        &:first-child {
          margin-left: 0;
        }
      }

      > #{$u-prefix}.buttons #{$u-prefix}.button {
        margin-top: 0;
        margin-bottom: 0;
      }

      &.flex {
        @include display(flex);
        @include align-items(center);
      }
    }
  }

}
