
#{$u-prefix}.navigation {
  padding: 5px 0;
  list-style: none;
  li {
    a {
      padding: 5px 20px;
      text-decoration: none;
      display: block;
      @include transition(color 0.2s ease-out);
      position: relative;

      &:before {
          content: "";
          display: block;
          opacity: 0;
          position: absolute;
          height: 8px;
          width: 8px;
          top: 50%;
          margin-top: -4px;
          left: 6px;
          border-radius: 10px;
          @include transition(opacity 0.2s ease-out);
        }

      &.active {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  &.icon-left {
    li {
      a {
        padding-left: 10px;

        &:before {
          display: none;
        }
      }
    }
  }

  &.icon-right {
    li {
      a {
        .icon {
          position: absolute;
          right: 20px;
          left: auto;
        }
      }
    }
  }
}

#{$u-prefix}.sidebar {
  #{$u-prefix}.navigation {
    box-shadow: none;
    padding-right: 0;
  }
}
