
#{$u-prefix}.centered {
  text-align: center;
}

#{$u-prefix}.left {
  text-align: left;
}

#{$u-prefix}.right {
  text-align: right;
}

#{$u-prefix}.responsive-centered {
  text-align: center;

  @include media($query-medium) {
    text-align: left;

    &.right {
      text-align: right;
    }
  }
}

p#{$u-prefix}.bold {
  font-weight: bold;
}

p#{$u-prefix}.small {
  font-size: $font-size-small;
}

p#{$u-prefix}.big {
  font-size: $font-size-big;
}

p#{$u-prefix}.lead {
  color: map-get($colors, 'grey');
}
