
#{$u-prefix}.hr {
  height: 2px;
  width: auto;
  display: block;
  background: rgba(0,0,0,0.11);
  margin: 14px 0;

  @include media($query-semi-medium) {
    margin-top: 29px;
    margin-bottom: 29px;
  }
}

#{$u-prefix}.br {
  height: 15px;
  width: auto;
  display: block;

  @include media($query-semi-medium) {
    height: 30px;
  }
}
